html{
  scroll-behavior: smooth;
}
.navbar-brand{
  margin-left: 10px;
}
.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 18px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
@media (min-width: 992px){
  .navbar li {
      margin-left : 2em;
      margin-right : 2em;
  }
}
.navbar-nav li a:hover {
  color: black !important;
  background-color: #fff !important;
 
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.jumbotron{
  text-align: center;

}
.words {
  color: #f4d03f;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.lead{
  color: white;
}

#about{
  letter-spacing: 2px;
  text-align: center;
  align-content: center;

}
#skills{
  
  align-content: center;
  margin-top: 5%;
  justify-content: center;
  
}

#contact{
  margin-top: 5%;
  background-color: rgb(234, 235, 236);
}
.abImgout{

  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-timing-function: ease; 
}

  @keyframes mymove {
    from {right: -200px;}
    to {right: 20px;}
  }
  #mywork{
    margin-top: 5%;
  }
  #contact{
    margin-top: 6%;
  }
  
  .jumbotron{

    font-family: "Archivo Black", sans-serif;
    background: #f4d03f;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    
    
  }
.html{
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}
.css{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.java{
 background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.node{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}
