<% include partials/header.ejs%>
<div id="education" class="container-fluid mt-5" data-aos="zoom-in">
  <h1 class="display-4 text-center py-5 mt-4">Education</h1>
  <p class="text-center">
    Protons give an atom its identity, electrons its personality.<br />- Bill
    Bryson, A short history of nearly everything
  </p>
  <hr class="" data-aos="fade-right" />
  <div class="experiences">
    <div class="experience row mt-4 ml-4">
      <div class="col-md-4">
        <h4>INTEC BRUSSELS</h4>
        <p class="experience-period">Mar 2021 - Oct 2021</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Course - Front-End Developer (course)</strong><br />
          <span class="hidden-phone">
            During this course i leran all front-end technologies like HTML,CSS
            and JS.I also learn Css and JS frameworks like NODE.JS and BootStrap
            etc.Learn to build applications and Responsive Web designs.This
            course thought me about the mechanisms of development, why it has
            such tremendous potential, and how to use it effectively.
          </span>
          <span class="experience-details">
            <span class="location">
              <span
                class="glyphicon glyphicon-map-marker"
                aria-hidden="true"
              ></span>
              Online
            </span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="experiences">
    <div class="experience row mt-4 ml-4 mr-4 mr-4">
      <div class="col-md-4">
        <h4>University Of Sargodha</h4>
        <p class="experience-period">Sep 2009 - June 2013</p>
      </div>
      <div class="col-md-8">
        <p>
          <strong>Bachelors in Computer Science</strong><br />
          <span class="hidden-phone">
            Gamification is the application of game elements and digital game
            design techniques to non-game problems, such as business and social
            impact challenges. This course thought me about the mechanisms of
            gamification, why it has such tremendous potential, and how to use
            it effectively.
          </span>
          <span class="experience-details">
            <span class="location">
              <span
                class="glyphicon glyphicon-map-marker"
                aria-hidden="true"
              ></span>
              Online
            </span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<%include partials/footer.ejs%>
