<% include partials/header.ejs%>
<div class="container" id="mywork">
  <div class="head m-5 py-5">
    <h1 class="display-4 text-center mb-4 py-5">My Work</h1>
  </div>
    
<div class="card-deck">
    <div class="card projects">
      <div class="imgBx mb-4">
      <img class="card-img-top mb-4" src="/images/woman.jpg" alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="card-title">Weather App</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects">
      <div class="imgBx mb-4">
      <img class="card-img-top mb-4" src="/images/woman.jpg" alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="card-title">Dictionary</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects">
      <div class="imgBx">
      <img class="card-img-top" src="/images/woman.jpg" alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="card-title">Portfolio</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>