<% include partials/header.ejs%>
<div class="container" id="mywork">
  <div class="head m-5 py-5">
    <h1 class="display-4 text-center mb-4 py-5">My Work</h1>
  </div>
    
<div class="card-deck">
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
      <img class="card-img-top" src="/images/weatherapp.jpg"   alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="title">Weather App</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
      <img class="card-img-top" src="/images/dictionary.jpg" alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="title">Dictionary</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
      <img class="card-img-top" src="/images/memorygame.jpg"  alt="Card image cap">
    </div>
      <div class="card-body bodyWork">
        <h5 class="title">Memory Game</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>
<%include partials/footer.ejs%>
