<% include partials/header.ejs%>
<div class="container" id="mywork">
  <div class="head">
    <h1 class="display-4 text-center py-5">My Work</h1>
    <h4 class="text-center mb-4">
      “You can do anything you set your mind to.”
    </h4>
    <h5 class="text-center mb-4">- Benjamin Franklin</h5>
    <hr class="py-2" data-aos="fade-right" />
  </div>

  <div class="card-deck">
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
        <img
          class="card-img-top"
          src="/images/weatherapp.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body bodyWork">
        <h5 class="title">Weather App</h5>
        <button class="btn btn-success text-white">
          <a
            href="https://github.com/Mariam-Saddiqa/webdevclass/tree/main/javascript/OOP/FetchApi/weather"
            >Repository</a
          ><i class="fas fa-hand-point-right"></i>
        </button>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
        <img
          class="card-img-top"
          src="/images/dictionary.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body bodyWork">
        <h5 class="title">Dictionary</h5>
        <button class="btn btn-success">
          <a
            href="https://github.com/Mariam-Saddiqa/webdevclass/tree/main/javascript/OOP/FetchApi/DICTIONARY"
          >Repository</a>
          <i class="fas fa-hand-point-right"></i>
        </button>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
    <div class="card projects" data-aos="zoom-in-up">
      <div class="imgBx">
        <img
          class="card-img-top"
          src="/images/memorygame.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body bodyWork">
        <h5 class="title">Memory Game</h5>
        <button class="btn btn-success"><a href="https://github.com/Mariam-Saddiqa/Memorygame">Repository</a>
           <i class="fas fa-hand-point-right"></i>
        </button>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
</div>
<%include partials/footer.ejs%>
