<% include partials/header.ejs%>
<div class="container" data-aos="zoom-in">
  <h1 class="display-4 mb-4 mt-4  py-5 text-center">Skills</h1>
  <hr class="py-2" data-aos="fade-right">
  <div class="row">
      <div class="col-md-4 col-xl-6">
          <div class="card bg-c-blue order-card" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
              <div class="card-block">
                  <h6 class="m-b-20">HTML</h6>
                  <h2 class="text-right"><i class="fab fa-html5 f-left"></i><span>90%</span></h3>
                  <p class="m-b-0">PROJECTS<span class="f-right">351</span></p>
              </div>
          </div>
      </div>
      
      <div class="col-md-4 col-xl-6">
          <div class="card bg-c-green order-card" data-aos="fade-left"
          data-aos-offset="500"
          data-aos-duration="500">
              <div class="card-block">
                  <h6 class="m-b-20">CSS</h6>
                  <h2 class="text-right"><i class="fab fa-css3-alt f-left"></i><span>75%</span></h2>
                  <p class="m-b-0">PROJECTS<span class="f-right">351</span></p>
              </div>
          </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-xl-6">
          <div class="card bg-c-yellow order-card" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
              <div class="card-block">
                  <h6 class="m-b-20">JAVASCRIPT</h6>
                  <h2 class="text-right"><i class="fab fa-js-square f-left"></i><span>80%</span></h2>
                  <p class="m-b-0">PROJECTS<span class="f-right">351</span></p>
              </div>
          </div>
      </div>
      
      <div class="col-md-4 col-xl-6">
          <div class="card bg-c-pink order-card" data-aos="fade-left"
          >
              <div class="card-block">
                  <h6 class="m-b-20">NODE JS</h6>
                  <h2 class="text-right"><i class="fab fa-node f-left"></i><span>60%</span></h2>
                  <p class="m-b-0">PROJECTS<span class="f-right">351</span></p>
              </div>
          </div>
      </div>
</div>
</div>
</div>
<%include partials/footer.ejs%>